<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos necesarios -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/seperfil"
        android:label="@string/app_name"
        android:roundIcon="@drawable/seperfil"
        android:supportsRtl="true"
        android:theme="@style/Theme.SEmbebidos"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- LoginActivity como LAUNCHER (primera pantalla) -->
        <activity
            android:name=".ui.Activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity (después del login) -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- SettingsActivity (configuración de IP) -->
        <activity
            android:name=".ui.Activities.SettingsActivity"
            android:exported="false" />

    </application>

</manifest>